* {
    box-sizing: border-box;
}

body{
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    background-color: rgb(160, 218, 251);
}
.star{
    width: 200px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.cool{
    width: 400px;
    display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

