* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: black;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

a {
    color: antiquewhite;
    position: absolute;
    top: 700px;
    left: 150px;
}