* {
    box-sizing: border-box;
}

body{
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;

}

span {
    pointer-events: none;
    }
    
a{
    color: black;
    pointer-events: auto;
}

div {
    pointer-events:none;
  }

.everything{
    display: flex;
  justify-content: center;
  align-items: flex-start center;
}

img{
    display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1300px;
}

/* Proudly created with www.csswarp.com */

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warpy {
    display: block;
    position: relative;
    width: 620px;
    height: 450px;
    font: normal 60px/1 'Cormorant Upright';
    transform-box:fill-box;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__0 {
    transform-origin: 7px 49px;
    transform: translate(28.009300000000003px,96.8963px) rotate(-0.017928rad);
}

.warp__1 {
    transform-origin: 11px 49px;
    transform: translate(43.2723px,96.59px) rotate(-0.014642rad);
}

.warp__2 {
    transform-origin: 14px 49px;
    transform: translate(65.5451px,96.28399999999999px) rotate(-0.009426rad);
}

.warp__3 {
    transform-origin: 14px 49px;
    transform: translate(95.2982px,96.10919999999999px) rotate(-0.002107rad);
}

.warp__4 {
    transform-origin: 11px 49px;
    transform: translate(123.93690000000001px,96.14760000000001px) rotate(0.005271rad);
}

.warp__5 {
    transform-origin: 9px 49px;
    transform: translate(146.8358px,96.33359999999999px) rotate(0.012242rad);
}

.warp__6 {
    transform-origin: 6px 49px;
    transform: translate(166.9426px,96.5949px) rotate(0.01839rad);
}

.warp__7 {
    transform-origin: 13px 49px;
    transform: translate(181.2707px,97.07570000000001px) rotate(0.026834rad);
}

.warp__8 {
    transform-origin: 8px 49px;
    transform: translate(209.6075px,97.8204px) rotate(0.037169rad);
}

.warp__9 {
    transform-origin: 11px 49px;
    transform: translate(228.1586px,98.71119999999999px) rotate(0.047601rad);
}

.warp__10 {
    transform-origin: 8px 49px;
    transform: translate(252.00420000000003px,99.82239999999999px) rotate(0.059115rad);
}

.warp__11 {
    transform-origin: 11px 49px;
    transform: translate(269.5969px,101.17009999999999px) rotate(0.071821rad);
}

.warp__12 {
    transform-origin: 15px 49px;
    transform: translate(291.9112px,103.3022px) rotate(0.090335rad);
}

.warp__13 {
    transform-origin: 14px 49px;
    transform: translate(322.0067px,106.33930000000001px) rotate(0.114927rad);
}

.warp__14 {
    transform-origin: 9px 49px;
    transform: translate(351.8733px,109.5118px) rotate(0.139531rad);
}

.warp__15 {
    transform-origin: 6px 49px;
    transform: translate(371.6048px,112.02170000000001px) rotate(0.158651rad);
}

.warp__16 {
    transform-origin: 13px 49px;
    transform: translate(384.4594px,115.45750000000001px) rotate(0.184699rad);
}

.warp__17 {
    transform-origin: 13px 49px;
    transform: translate(412.5475px,121.21950000000001px) rotate(0.228802rad);
}

.warp__18 {
    transform-origin: 11px 49px;
    transform: translate(438.8668px,127.49709999999999px) rotate(0.278337rad);
}

.warp__19 {
    transform-origin: 13px 49px;
    transform: translate(460.9754px,135.19px) rotate(0.342203rad);
}

.warp__20 {
    transform-origin: 13px 49px;
    transform: translate(485.6px,145.1552px) rotate(0.431489rad);
}

.warp__21 {
    transform-origin: 11px 49px;
    transform: translate(509.31359999999995px,156.5991px) rotate(0.54461rad);
}

.warp__22 {
    transform-origin: 11px 49px;
    transform: translate(527.8392px,169.616px) rotate(0.687756rad);
}

.warp__23 {
    transform-origin: 9px 49px;
    transform: translate(544.4px,184.3px) rotate(0.865575rad);
}

.warp__24 {
    transform-origin: 9px 49px;
    transform: translate(555.7194px,200.7456px) rotate(1.076418rad);
}

.warp__25 {
    transform-origin: 6px 49px;
    transform: translate(565.0943px,215.8639px) rotate(1.268215rad);
}

.warp__26 {
    transform-origin: 13px 49px;
    transform: translate(561.8351px,235.78379999999999px) rotate(1.49807rad);
}

.warp__27 {
    transform-origin: 20px 49px;
    transform: translate(555.559px,271.4919px) rotate(-4.710249rad);
}

.warp__28 {
    transform-origin: 13px 49px;
    transform: translate(562.4452px,305.367px) rotate(-4.707822rad);
}

.warp__29 {
    transform-origin: 11px 49px;
    transform: translate(564.3093px,330.305px) rotate(-4.706052rad);
}

.warp__30 {
    transform-origin: 13px 49px;
    transform: translate(561.6271px,355.4544px) rotate(-4.704225rad);
}

.warp__31 {
    transform-origin: 6px 49px;
    transform: translate(568.4395px,376.3963px) rotate(-4.702619rad);
}

.pos1{
    position: absolute;
    top: -80px;
    right: 1%;
}

.font1{
    font: normal 60px/1 'Cormorant Upright';
}
.pos2{
    position: absolute;
    top: -45px;
    left: 460px;
}

.pos3{
    position: absolute;
    top: -45px;
    left: 100px;
}

.pos4{
    position: absolute;
    right: -115px;
    top: 440px;
    transform: rotate(90deg);
}

/* Proudly created with www.csswarp.com */
/* inner circle 2 */

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp2 {
    display: block;
    position: relative;
    width: 620px;
    height: 450px;
    font: normal 60px/1 'Cormorant Upright';
    transform-box:fill-box;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__32 {
    transform-origin: 13px 49px;
    transform: translate(24.584699999999998px,96.8595px) rotate(-0.017589rad);
}

.warp__33 {
    transform-origin: 14px 49px;
    transform: translate(50.771px,96.4469px) rotate(-0.012585rad);
}

.warp__34 {
    transform-origin: 7px 49px;
    transform: translate(80.5215px,96.2123px) rotate(-0.007472rad);
}

.warp__35 {
    transform-origin: 22px 49px;
    transform: translate(95.835px,96.1011px) rotate(0.000236rad);
}

.warp__36 {
    transform-origin: 9px 49px;
    transform: translate(140.4161px,96.262px) rotate(0.01007rad);
}

.warp__37 {
    transform-origin: 13px 49px;
    transform: translate(159.9426px,96.5949px) rotate(0.01839rad);
}

.warp__38 {
    transform-origin: 15px 49px;
    transform: translate(188.2749px,97.3192px) rotate(0.030461rad);
}

.warp__39 {
    transform-origin: 13px 49px;
    transform: translate(219.8627px,98.42160000000001px) rotate(0.044363rad);
}

.warp__40 {
    transform-origin: 13px 49px;
    transform: translate(246.50420000000003px,99.82239999999999px) rotate(0.059115rad);
}

.warp__41 {
    transform-origin: 11px 49px;
    transform: translate(273.6809px,101.46940000000001px) rotate(0.074516rad);
}

.warp__42 {
    transform-origin: 14px 49px;
    transform: translate(296.9078px,103.6704px) rotate(0.093403rad);
}

.warp__43 {
    transform-origin: 11px 49px;
    transform: translate(325.5067px,106.33930000000001px) rotate(0.114927rad);
}

.warp__44 {
    transform-origin: 9px 49px;
    transform: translate(348.0995px,108.98949999999999px) rotate(0.135525rad);
}

.warp__45 {
    transform-origin: 13px 49px;
    transform: translate(368.265px,112.61580000000001px) rotate(0.163157rad);
}

.warp__46 {
    transform-origin: 10px 49px;
    transform: translate(396.2521px,117.1584px) rotate(0.197629rad);
}

.warp__47 {
    transform-origin: 7px 49px;
    transform: translate(418.0475px,121.21950000000001px) rotate(0.228802rad);
}

.warp__48 {
    transform-origin: 13px 49px;
    transform: translate(433.7165px,126.60910000000001px) rotate(0.271206rad);
}

.warp__49 {
    transform-origin: 9px 49px;
    transform: translate(460.1077px,133.6662px) rotate(0.329233rad);
}

.warp__50 {
    transform-origin: 11px 49px;
    transform: translate(478.3545px,141.1093px) rotate(0.394264rad);
}

.warp__51 {
    transform-origin: 14px 49px;
    transform: translate(498.9163px,152.6144px) rotate(0.503872rad);
}

.warp__52 {
    transform-origin: 13px 49px;
    transform: translate(523.4468px,168.089px) rotate(0.670191rad);
}

.warp__53 {
    transform-origin: 7px 49px;
    transform: translate(544.9063px,182.5832px) rotate(0.844071rad);
}

.warp__54 {
    transform-origin: 8px 49px;
    transform: translate(553.8791px,195.0622px) rotate(1.003013rad);
}

.warp__55 {
    transform-origin: 9px 49px;
    transform: translate(560.2893px,210.67790000000002px) rotate(1.203485rad);
}

.warp__56 {
    transform-origin: 9px 49px;
    transform: translate(565.2381px,230.051px) rotate(1.435541rad);
}

.warp__57 {
    transform-origin: 11px 49px;
    transform: translate(564.5864px,252.4531px) rotate(-4.711659rad);
}

.warp__58 {
    transform-origin: 15px 49px;
    transform: translate(560.542px,278.5762px) rotate(-4.709735rad);
}

.warp__59 {
    transform-origin: 8px 49px;
    transform: translate(567.4606px,301.91px) rotate(-4.708067rad);
}

.warp__60 {
    transform-origin: 15px 49px;
    transform: translate(560.3369px,325.8293px) rotate(-4.706371rad);
}

.warp__61 {
    transform-origin: 13px 49px;
    transform: translate(562.1358px,354.3833px) rotate(-4.704304rad);
}

.warp__62 {
    transform-origin: 6px 49px;
    transform: translate(568.4593px,374.3451px) rotate(-4.702781rad);
}

.pos5{
    position: absolute;
    top: 5px;
    right: 6%;
}

/* inner circle 3 */
/* Proudly created with www.csswarp.com */

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp3 {
    display: block;
    position: relative;
    width: 620px;
    height: 450px;
    font: normal 60px/1 'Cormorant Upright';
    transform-box:fill-box;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__63 {
    transform-origin: 13px 49px;
    transform: translate(28.742800000000003px,96.7878px) rotate(-0.016892rad);
}

.warp__64 {
    transform-origin: 11px 49px;
    transform: translate(55.876400000000004px,96.42089999999999px) rotate(-0.012154rad);
}

.warp__65 {
    transform-origin: 9px 49px;
    transform: translate(78.5215px,96.2123px) rotate(-0.007472rad);
}

.warp__66 {
    transform-origin: 9px 49px;
    transform: translate(97.6659px,96.11429999999999px) rotate(-0.002675rad);
}

.warp__67 {
    transform-origin: 8px 49px;
    transform: translate(118.3823px,96.11359999999999px) rotate(0.002695rad);
}

.warp__68 {
    transform-origin: 15px 49px;
    transform: translate(134.9161px,96.262px) rotate(0.01007rad);
}

.warp__69 {
    transform-origin: 13px 49px;
    transform: translate(166.8493px,96.72049999999999px) rotate(0.020833rad);
}

.warp__70 {
    transform-origin: 13px 49px;
    transform: translate(194.0198px,97.45249999999999px) rotate(0.03233rad);
}

.warp__71 {
    transform-origin: 9px 49px;
    transform: translate(221.2602px,98.32939999999999px) rotate(0.043304rad);
}

.warp__72 {
    transform-origin: 14px 49px;
    transform: translate(241.3538px,99.58179999999999px) rotate(0.056721rad);
}

.warp__73 {
    transform-origin: 13px 49px;
    transform: translate(271.6809px,101.46940000000001px) rotate(0.074516rad);
}

.warp__74 {
    transform-origin: 15px 49px;
    transform: translate(297.9006px,103.8586px) rotate(0.09496rad);
}

.warp__75 {
    transform-origin: 13px 49px;
    transform: translate(329.3139px,107.02539999999999px) rotate(0.120314rad);
}

.warp__76 {
    transform-origin: 14px 49px;
    transform: translate(356.2203px,110.8735px) rotate(0.149926rad);
}

.warp__77 {
    transform-origin: 9px 49px;
    transform: translate(384.9007px,114.80179999999999px) rotate(0.179725rad);
}

.warp__78 {
    transform-origin: 9px 49px;
    transform: translate(404.176px,118.5837px) rotate(0.208513rad);
}

.warp__79 {
    transform-origin: 13px 49px;
    transform: translate(423.5927px,124.0401px) rotate(0.250818rad);
}

.warp__80 {
    transform-origin: 13px 49px;
    transform: translate(450.6725px,131.6936px) rotate(0.312686rad);
}

.warp__81 {
    transform-origin: 8px 49px;
    transform: translate(476.7614px,139.4425px) rotate(0.379324rad);
}

.warp__82 {
    transform-origin: 8px 49px;
    transform: translate(492.6615px,146.352px) rotate(0.442769rad);
}

.warp__83 {
    transform-origin: 13px 49px;
    transform: translate(507.9289px,157.2801px) rotate(0.551719rad);
}

.warp__84 {
    transform-origin: 22px 49px;
    transform: translate(527.2818px,179.2143px) rotate(0.802353rad);
}

.warp__85 {
    transform-origin: 14px 49px;
    transform: translate(555.3894px,209.65839999999997px) rotate(1.190597rad);
}

.warp__86 {
    transform-origin: 13px 49px;
    transform: translate(561.9128px,236.9491px) rotate(1.510382rad);
}

.warp__87 {
    transform-origin: 10px 49px;
    transform: translate(565.0743px,263.1864px) rotate(-4.710858rad);
}

.warp__88 {
    transform-origin: 14px 49px;
    transform: translate(561.01px,289.1341px) rotate(-4.708976rad);
}

.warp__89 {
    transform-origin: 11px 49px;
    transform: translate(564.3945px,315.661px) rotate(-4.707093rad);
}

.warp__90 {
    transform-origin: 9px 49px;
    transform: translate(565.7655px,336.9648px) rotate(-4.705575rad);
}

.warp__91 {
    transform-origin: 9px 49px;
    transform: translate(565.6183px,356.5232px) rotate(-4.704145rad);
}

.warp__92 {
    transform-origin: 6px 49px;
    transform: translate(568.4692px,373.3158px) rotate(-4.702862rad);
}

.pos6{
    position: absolute;
    top: 65px;
    right: 11%;
}

/* Proudly created with www.csswarp.com */
/* bottom right corner outer */

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp4 {
    display: block;
    position: relative;
    width: 868px;
    height: 713px;
    font: normal 60px/1 'Cormorant Upright';
    transform-box:fill-box;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__93 {
    transform-origin: 14px 49px;
    transform: translate(717.32px,250.60000000000002px) rotate(-4.703532rad);
}

.warp__94 {
    transform-origin: 11px 49px;
    transform: translate(718.7016px,275.6625px) rotate(-4.587125rad);
}

.warp__95 {
    transform-origin: 8px 49px;
    transform: translate(718.1235px,295.1857px) rotate(-4.471395rad);
}

.warp__96 {
    transform-origin: 15px 49px;
    transform: translate(703.6381px,317.6306px) rotate(-4.304692rad);
}

.warp__97 {
    transform-origin: 13px 49px;
    transform: translate(691.5951px,342.1652px) rotate(-4.077758rad);
}

.warp__98 {
    transform-origin: 13px 49px;
    transform: translate(672.728px,362.1527px) rotate(-3.864533rad);
}

.warp__99 {
    transform-origin: 14px 49px;
    transform: translate(649.2051px,378.8003px) rotate(-3.678475rad);
}

.warp__100 {
    transform-origin: 7px 49px;
    transform: translate(636.447px,388.809px) rotate(-3.567613rad);
}

.warp__101 {
    transform-origin: 13px 49px;
    transform: translate(611.6333px,396.576px) rotate(-3.483563rad);
}

.warp__102 {
    transform-origin: 15px 49px;
    transform: translate(582.2526px,404.9178px) rotate(-3.395698rad);
}

.warp__103 {
    transform-origin: 11px 49px;
    transform: translate(560.0058px,410.8447px) rotate(-3.33455rad);
}

.warp__104 {
    transform-origin: 13px 49px;
    transform: translate(531.9664px,415.2165px) rotate(-3.289637rad);
}

.warp__105 {
    transform-origin: 14px 49px;
    transform: translate(504.1291px,418.7573px) rotate(-3.252757rad);
}

.warp__106 {
    transform-origin: 15px 49px;
    transform: translate(474.0119px,421.5448px) rotate(-3.222641rad);
}

.warp__107 {
    transform-origin: 14px 49px;
    transform: translate(443.6325px,423.657px) rotate(-3.19823rad);
}

.warp__108 {
    transform-origin: 13px 49px;
    transform: translate(415.7194px,425.0304px) rotate(-3.180615rad);
}

.warp__109 {
    transform-origin: 9px 49px;
    transform: translate(395.2214px,425.8364px) rotate(-3.168762rad);
}

.warp__110 {
    transform-origin: 13px 49px;
    transform: translate(368.3136px,426.3611px) rotate(-3.159562rad);
}

.warp__111 {
    transform-origin: 13px 49px;
    transform: translate(342.1009px,426.7195px) rotate(-3.151293rad);
}

.warp__112 {
    transform-origin: 11px 49px;
    transform: translate(319.1218px,426.8811px) rotate(-3.145079rad);
}

.warp__113 {
    transform-origin: 9px 49px;
    transform: translate(299.2358px,426.9088px) rotate(-3.140853rad);
}

.warp__114 {
    transform-origin: 14px 49px;
    transform: translate(270.1164px,426.8439px) rotate(-3.137124rad);
}

.warp__115 {
    transform-origin: 11px 49px;
    transform: translate(246.5985px,426.6795px) rotate(-3.134073rad);
}

.warp__116 {
    transform-origin: 11px 49px;
    transform: translate(223.5245px,426.4839px) rotate(-3.13228rad);
}

.warp__117 {
    transform-origin: 6px 49px;
    transform: translate(209.2017px,426.2988px) rotate(-3.131305rad);
}

.pos7{
    position: absolute;
    bottom: -193px;
    right: -3.5%;
}

/* Proudly created with www.csswarp.com */

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp5 {
    display: block;
    position: relative;
    width: 868px;
    height: 713px;
    font: normal 60px/1 'Cormorant Upright';
    transform-box:fill-box;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__118 {
    transform-origin: 14px 49px;
    transform: translate(717.7376px,207.48829999999998px) rotate(-4.701621rad);
}

.warp__119 {
    transform-origin: 10px 49px;
    transform: translate(720.9835px,232.7305px) rotate(-4.702914rad);
}

.warp__120 {
    transform-origin: 10px 49px;
    transform: translate(720.7252px,255.5688px) rotate(-4.682908rad);
}

.warp__121 {
    transform-origin: 11px 49px;
    transform: translate(718.4036px,277.9194px) rotate(-4.574984rad);
}

.warp__122 {
    transform-origin: 13px 49px;
    transform: translate(711.1899px,302.3077px) rotate(-4.422657rad);
}

.warp__123 {
    transform-origin: 9px 49px;
    transform: translate(706.2163px,323.927px) rotate(-4.250848rad);
}

.warp__124 {
    transform-origin: 8px 49px;
    transform: translate(698.835px,339.0202px) rotate(-4.109313rad);
}

.warp__125 {
    transform-origin: 15px 49px;
    transform: translate(676.9538px,356.7956px) rotate(-3.923408rad);
}

.warp__126 {
    transform-origin: 13px 49px;
    transform: translate(656.3936px,374.9355px) rotate(-3.721734rad);
}

.warp__127 {
    transform-origin: 13px 49px;
    transform: translate(632.4774px,387.8751px) rotate(-3.577853rad);
}

.warp__128 {
    transform-origin: 9px 49px;
    transform: translate(615.1333px,396.576px) rotate(-3.483563rad);
}

.warp__129 {
    transform-origin: 14px 49px;
    transform: translate(586.4948px,403.9254px) rotate(-3.406025rad);
}

.warp__130 {
    transform-origin: 14px 49px;
    transform: translate(558.3716px,410.5759px) rotate(-3.33731rad);
}

.warp__131 {
    transform-origin: 9px 49px;
    transform: translate(538.8932px,414.7732px) rotate(-3.294205rad);
}

.warp__132 {
    transform-origin: 13px 49px;
    transform: translate(510.85850000000005px,418.0383px) rotate(-3.260327rad);
}

.warp__133 {
    transform-origin: 9px 49px;
    transform: translate(491.0456px,420.5453px) rotate(-3.233621rad);
}

.warp__134 {
    transform-origin: 13px 49px;
    transform: translate(464.2116px,422.4422px) rotate(-3.212522rad);
}

.warp__135 {
    transform-origin: 22px 49px;
    transform: translate(420.0376px,424.4841px) rotate(-3.187886rad);
}

.warp__136 {
    transform-origin: 11px 49px;
    transform: translate(397.5487px,425.7291px) rotate(-3.170453rad);
}

.warp__137 {
    transform-origin: 13px 49px;
    transform: translate(369.7932px,426.3248px) rotate(-3.160269rad);
}

.warp__138 {
    transform-origin: 13px 49px;
    transform: translate(342.1009px,426.7195px) rotate(-3.151293rad);
}

.warp__139 {
    transform-origin: 11px 49px;
    transform: translate(319.1218px,426.8811px) rotate(-3.145079rad);
}

.warp__140 {
    transform-origin: 13px 49px;
    transform: translate(291.3967px,426.9039px) rotate(-3.140106rad);
}

.warp__141 {
    transform-origin: 13px 49px;
    transform: translate(264.9308px,426.8111px) rotate(-3.136265rad);
}

.warp__142 {
    transform-origin: 7px 49px;
    transform: translate(247.8139px,426.662px) rotate(-3.133864rad);
}

.warp__143 {
    transform-origin: 11px 49px;
    transform: translate(223.5245px,426.4839px) rotate(-3.13228rad);
}

.warp__144 {
    transform-origin: 13px 49px;
    transform: translate(195.0601px,426.2243px) rotate(-3.13104rad);
}

.warp__145 {
    transform-origin: 10px 49px;
    transform: translate(173.9295px,425.9624px) rotate(-3.130534rad);
}

.warp__146 {
    transform-origin: 14px 49px;
    transform: translate(145.8003px,425.6895px) rotate(-3.130584rad);
}

.warp__147 {
    transform-origin: 11px 49px;
    transform: translate(123.67580000000001px,425.419px) rotate(-3.131156rad);
}

.warp__148 {
    transform-origin: 11px 49px;
    transform: translate(100.6428px,425.1887px) rotate(-3.132093rad);
}

.warp__149 {
    transform-origin: 6px 49px;
    transform: translate(86.9539px,425.0246px) rotate(-3.133086rad);
}

.pos8{
    position: absolute;
    bottom: -120px;
    right: 1%;
}

.pos9{
    position: absolute;
    right: 75px;
    top: 420px;
    transform: rotate(90deg);
}

/* Proudly created with www.csswarp.com */

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp6 {
    display: block;
    position: relative;
    width: 868px;
    height: 713px;
    font: normal 60px/1 'Cormorant Upright';
    transform-box:fill-box;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__150 {
    transform-origin: 11px 49px;
    transform: translate(720.8562px,196.8625px) rotate(-4.70078rad);
}

.warp__151 {
    transform-origin: 11px 49px;
    transform: translate(720.6158px,219.19029999999998px) rotate(-4.702306rad);
}

.warp__152 {
    transform-origin: 22px 49px;
    transform: translate(709.2583px,254.33530000000002px) rotate(-4.688133rad);
}

.warp__153 {
    transform-origin: 11px 49px;
    transform: translate(716.7541px,287.8028px) rotate(-4.518104rad);
}

.warp__154 {
    transform-origin: 22px 49px;
    transform: translate(695.8338px,319.4545px) rotate(-4.289419rad);
}

.warp__155 {
    transform-origin: 14px 49px;
    transform: translate(683.939px,350.4345px) rotate(-3.99188rad);
}

.warp__156 {
    transform-origin: 11px 49px;
    transform: translate(668.3323px,367.8539px) rotate(-3.80107rad);
}

.warp__157 {
    transform-origin: 11px 49px;
    transform: translate(649.465px,380.3981px) rotate(-3.66064rad);
}

.warp__158 {
    transform-origin: 8px 49px;
    transform: translate(634.923px,389.2706px) rotate(-3.562562rad);
}

.warp__159 {
    transform-origin: 15px 49px;
    transform: translate(606.2332px,397.762px) rotate(-3.470918rad);
}

.warp__160 {
    transform-origin: 13px 49px;
    transform: translate(580.4595px,405.8826px) rotate(-3.385687rad);
}

.warp__161 {
    transform-origin: 13px 49px;
    transform: translate(553.3749px,411.6344px) rotate(-3.326446rad);
}

.warp__162 {
    transform-origin: 9px 49px;
    transform: translate(534.4947px,415.4343px) rotate(-3.28739rad);
}

.warp__163 {
    transform-origin: 13px 49px;
    transform: translate(508.25480000000005px,418.4025px) rotate(-3.2565rad);
}

.warp__164 {
    transform-origin: 13px 49px;
    transform: translate(480.4876px,421.1293px) rotate(-3.227238rad);
}

.warp__165 {
    transform-origin: 14px 49px;
    transform: translate(451.1459px,423.242px) rotate(-3.203209rad);
}

.warp__166 {
    transform-origin: 11px 49px;
    transform: translate(427.402px,424.6486px) rotate(-3.185742rad);
}

.warp__167 {
    transform-origin: 11px 49px;
    transform: translate(405.1398px,425.4968px) rotate(-3.173977rad);
}

.warp__168 {
    transform-origin: 14px 49px;
    transform: translate(375.2006px,426.2081px) rotate(-3.162454rad);
}

.warp__169 {
    transform-origin: 9px 49px;
    transform: translate(355.7874px,426.6057px) rotate(-3.154275rad);
}

.warp__170 {
    transform-origin: 14px 49px;
    transform: translate(326.1207px,426.8319px) rotate(-3.147511rad);
}

.warp__171 {
    transform-origin: 11px 49px;
    transform: translate(302.0543px,426.9103px) rotate(-3.141633rad);
}

.warp__172 {
    transform-origin: 6px 49px;
    transform: translate(286.9589px,426.878px) rotate(-3.138373rad);
}

.warp__173 {
    transform-origin: 13px 49px;
    transform: translate(259.9482px,426.786px) rotate(-3.135729rad);
}

.warp__174 {
    transform-origin: 8px 49px;
    transform: translate(242.7295px,426.6257px) rotate(-3.133466rad);
}

.warp__175 {
    transform-origin: 15px 49px;
    transform: translate(212.5037px,426.417px) rotate(-3.131868rad);
}

.warp__176 {
    transform-origin: 6px 49px;
    transform: translate(197.274px,426.1734px) rotate(-3.130892rad);
}

.warp__177 {
    transform-origin: 13px 49px;
    transform: translate(168.4889px,425.9353px) rotate(-3.130514rad);
}

.warp__178 {
    transform-origin: 13px 49px;
    transform: translate(141.815px,425.6348px) rotate(-3.130657rad);
}

.warp__179 {
    transform-origin: 15px 49px;
    transform: translate(109.488px,425.3145px) rotate(-3.131524rad);
}

.warp__180 {
    transform-origin: 9px 49px;
    transform: translate(89.1751px,425.0698px) rotate(-3.132779rad);
}

.warp__181 {
    transform-origin: 6px 49px;
    transform: translate(73.8156px,424.9182px) rotate(-3.13393rad);
}

.pos10{
    position: absolute;
    bottom: -65px;
    right: 6%;
} 

.pos11{
    position: absolute;
    right: 620px;
    bottom: -60px;
    transform: rotate(180deg);
}

/* Proudly created with www.csswarp.com */

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp7 {
    display: block;
    position: relative;
    width: 868px;
    height: 713px;
    font: normal 60px/1 'Cormorant Upright';
    transform-box:fill-box;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__182 {
    transform-origin: 22px 49px;
    transform: translate(661.5984px,462.3024px) rotate(-3.145439rad);
}

.warp__183 {
    transform-origin: 14px 49px;
    transform: translate(632.4994px,462.454px) rotate(-3.145898rad);
}

.warp__184 {
    transform-origin: 13px 49px;
    transform: translate(605.4447px,462.5763px) rotate(-3.146155rad);
}

.warp__185 {
    transform-origin: 8px 49px;
    transform: translate(589.3889px,462.6764px) rotate(-3.146309rad);
}

.warp__186 {
    transform-origin: 15px 49px;
    transform: translate(558.4698px,462.7907px) rotate(-3.14643rad);
}

.warp__187 {
    transform-origin: 13px 49px;
    transform: translate(531.8434px,462.9305px) rotate(-3.146508rad);
}

.warp__188 {
    transform-origin: 13px 49px;
    transform: translate(504.024px,463.06500000000005px) rotate(-3.146512rad);
}

.warp__189 {
    transform-origin: 22px 49px;
    transform: translate(458.9435px,463.24339999999995px) rotate(-3.146407rad);
}

.warp__190 {
    transform-origin: 11px 49px;
    transform: translate(436.0452px,463.40319999999997px) rotate(-3.14619rad);
}

.warp__191 {
    transform-origin: 14px 49px;
    transform: translate(407.5824px,463.5173px) rotate(-3.145947rad);
}

.warp__192 {
    transform-origin: 15px 49px;
    transform: translate(376.8191px,463.64149999999995px) rotate(-3.145566rad);
}

.warp__193 {
    transform-origin: 8px 49px;
    transform: translate(360.0735px,463.7314px) rotate(-3.145181rad);
}

.warp__194 {
    transform-origin: 15px 49px;
    transform: translate(329.6201px,463.81039999999996px) rotate(-3.144724rad);
}

.warp__195 {
    transform-origin: 13px 49px;
    transform: translate(301.4049px,463.6195px) rotate(-3.110847rad);
}

.warp__196 {
    transform-origin: 7px 49px;
    transform: translate(285.7616px,462.4165px) rotate(-3.055574rad);
}

.warp__197 {
    transform-origin: 11px 49px;
    transform: translate(263.1732px,460.1329px) rotate(-2.985695rad);
}

.warp__198 {
    transform-origin: 9px 49px;
    transform: translate(244.1668px,455.8358px) rotate(-2.877781rad);
}

.warp__199 {
    transform-origin: 9px 49px;
    transform: translate(225.6173px,449.4518px) rotate(-2.734811rad);
}

.warp__200 {
    transform-origin: 13px 49px;
    transform: translate(201.6272px,438.1375px) rotate(-2.508657rad);
}

.warp__201 {
    transform-origin: 10px 49px;
    transform: translate(187.3508px,421.4606px) rotate(-2.239695rad);
}

.warp__202 {
    transform-origin: 13px 49px;
    transform: translate(172.515px,401.3834px) rotate(-2.014634rad);
}

.warp__203 {
    transform-origin: 15px 49px;
    transform: translate(161.011px,375.0647px) rotate(-1.834858rad);
}

.warp__204 {
    transform-origin: 14px 49px;
    transform: translate(156.0866px,346.3016px) rotate(-1.723005rad);
}

.warp__205 {
    transform-origin: 11px 49px;
    transform: translate(155.9988px,320.7373px) rotate(-1.663469rad);
}

.warp__206 {
    transform-origin: 11px 49px;
    transform: translate(154.3291px,298.3695px) rotate(-1.6293rad);
}

.warp__207 {
    transform-origin: 9px 49px;
    transform: translate(154.8227px,276.7067px) rotate(-1.606509rad);
}

.warp__208 {
    transform-origin: 14px 49px;
    transform: translate(149.6733px,252.0215px) rotate(-1.588927rad);
}

.warp__209 {
    transform-origin: 9px 49px;
    transform: translate(153.8746px,227.0109px) rotate(-1.577427rad);
}

.warp__210 {
    transform-origin: 8px 49px;
    transform: translate(155.3065px,208.3399px) rotate(-1.571823rad);
}

.warp__211 {
    transform-origin: 13px 49px;
    transform: translate(150.3315px,187.1433px) rotate(-1.567769rad);
}

.warp__212 {
    transform-origin: 15px 49px;
    transform: translate(148.4651px,157.8716px) rotate(-1.565197rad);
}

.warp__213 {
    transform-origin: 6px 49px;
    transform: translate(157.0914px,136.1279px) rotate(-1.564989rad);
}

.pos12{
    position: absolute;
    bottom: -150px;
    left: -6%;
} 

.pos13{
    position: absolute;
    left: 350px;
    bottom: 7px;
    transform: rotate(180deg);
}

/* Proudly created with www.csswarp.com */

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp {
    display: block;
    position: relative;
    width: 868px;
    height: 713px;
    font: normal 60px/1 'Cormorant Upright';
    transform-box:fill-box;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__214 {
    transform-origin: 9px 49px;
    transform: translate(355.8157px,463.76840000000004px) rotate(-3.14352rad);
}

.warp__215 {
    transform-origin: 13px 49px;
    transform: translate(329.1412px,463.82079999999996px) rotate(-3.144166rad);
}

.warp__216 {
    transform-origin: 13px 49px;
    transform: translate(300.9049px,463.6195px) rotate(-3.110847rad);
}

.warp__217 {
    transform-origin: 8px 49px;
    transform: translate(283.7066px,462.3238px) rotate(-3.052284rad);
}

.warp__218 {
    transform-origin: 15px 49px;
    transform: translate(253.5555px,459.1776px) rotate(-2.960157rad);
}

.warp__219 {
    transform-origin: 7px 49px;
    transform: translate(238.8807px,453.6755px) rotate(-2.827864rad);
}

.warp__220 {
    transform-origin: 7px 49px;
    transform: translate(224.7941px,448.1907px) rotate(-2.707983rad);
}

.warp__221 {
    transform-origin: 13px 49px;
    transform: translate(200.4816px,437.2833px) rotate(-2.492952rad);
}

.warp__222 {
    transform-origin: 13px 49px;
    transform: translate(182.2637px,418.0289px) rotate(-2.194133rad);
}

.warp__223 {
    transform-origin: 8px 49px;
    transform: translate(176.0354px,399.2726px) rotate(-1.996165rad);
}

.warp__224 {
    transform-origin: 13px 49px;
    transform: translate(163.4553px,378.4387px) rotate(-1.852702rad);
}

.warp__225 {
    transform-origin: 7px 49px;
    transform: translate(164.6003px,357.9929px) rotate(-1.761084rad);
}

.warp__226 {
    transform-origin: 13px 49px;
    transform: translate(155.789px,337.0601px) rotate(-1.698265rad);
}

.warp__227 {
    transform-origin: 14px 49px;
    transform: translate(152.0423px,309.2039px) rotate(-1.644228rad);
}

.warp__228 {
    transform-origin: 11px 49px;
    transform: translate(153.5756px,283.2426px) rotate(-1.612534rad);
}

.warp__229 {
    transform-origin: 6px 49px;
    transform: translate(157.4498px,264.592px) rotate(-1.596955rad);
}

.pos14{
    position: absolute;
    bottom: -80px;
    left: -2%;
} 

.pos15{
    position: absolute;
    left: 450px;
    bottom: 70px;
    transform: rotate(180deg);
}


/* Proudly created with www.csswarp.com */

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp8 {
    display: block;
    position: relative;
    width: 868px;
    height: 713px;
    font: normal 60px/1 'Cormorant Upright';
    transform-box:fill-box;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__230 {
    transform-origin: 13px 49px;
    transform: translate(347.5874px,463.77110000000005px) rotate(-3.14412rad);
}

.warp__231 {
    transform-origin: 15px 49px;
    transform: translate(317.4561px,463.84680000000003px) rotate(-3.14442rad);
}

.warp__232 {
    transform-origin: 11px 49px;
    transform: translate(294.3418px,463.6151px) rotate(-3.118844rad);
}

.warp__233 {
    transform-origin: 13px 49px;
    transform: translate(266.8908px,462.5566px) rotate(-3.075222rad);
}

.warp__234 {
    transform-origin: 8px 49px;
    transform: translate(249.4608px,460.3425px) rotate(-3.004343rad);
}

.warp__235 {
    transform-origin: 13px 49px;
    transform: translate(223.8267px,456.2253px) rotate(-2.881849rad);
}

.warp__236 {
    transform-origin: 13px 49px;
    transform: translate(199.7238px,446.3983px) rotate(-2.59546rad);
}

.warp__237 {
    transform-origin: 9px 49px;
    transform: translate(186.1991px,431.1161px) rotate(-2.218056rad);
}

.warp__238 {
    transform-origin: 13px 49px;
    transform: translate(171.4972px,410.556px) rotate(-1.908938rad);
}

.warp__239 {
    transform-origin: 14px 49px;
    transform: translate(164.618px,383.2016px) rotate(-1.716474rad);
}

.warp__240 {
    transform-origin: 9px 49px;
    transform: translate(166.7004px,359.8076px) rotate(-1.639243rad);
}

.warp__241 {
    transform-origin: 13px 49px;
    transform: translate(161.639px,336.7431px) rotate(-1.598367rad);
}

.warp__242 {
    transform-origin: 14px 49px;
    transform: translate(160.7702px,308.1711px) rotate(-1.572295rad);
}

.warp__243 {
    transform-origin: 13px 49px;
    transform: translate(161.4154px,279.8262px) rotate(-1.560753rad);
}

.warp__244 {
    transform-origin: 9px 49px;
    transform: translate(165.7079px,255.7624px) rotate(-1.557257rad);
}

.warp__245 {
    transform-origin: 8px 49px;
    transform: translate(167.4584px,237.59679999999997px) rotate(-1.557038rad);
}

.warp__246 {
    transform-origin: 22px 49px;
    transform: translate(153.849px,206.7666px) rotate(-1.559751rad);
}

.warp__247 {
    transform-origin: 11px 49px;
    transform: translate(165.1291px,173.3093px) rotate(-1.565459rad);
}

.warp__248 {
    transform-origin: 6px 49px;
    transform: translate(169.6925px,154.6096px) rotate(-1.569427rad);
}

.pos16{
    position: absolute;
    bottom: -20px;
    left: 2%;
} 

.pos17{
    position: absolute;
    left: -40px;
    top: 360px;
    transform: rotate(-90deg);
}

/* Proudly created with www.csswarp.com */

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp9 {
    display: block;
    position: relative;
    width: 868px;
    height: 713px;
    font: normal 60px/1 'Cormorant Upright';
    transform-box:fill-box;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__249 {
    transform-origin: 9px 49px;
    transform: translate(195.0657px,281.4301px) rotate(-1.575665rad);
}

.warp__250 {
    transform-origin: 22px 49px;
    transform: translate(182.4974px,249.538px) rotate(-1.571873rad);
}

.warp__251 {
    transform-origin: 8px 49px;
    transform: translate(197.7637px,218.6592px) rotate(-1.460173rad);
}

.warp__252 {
    transform-origin: 7px 49px;
    transform: translate(200.6951px,202.9435px) rotate(-1.372435rad);
}

.warp__253 {
    transform-origin: 11px 49px;
    transform: translate(202.1856px,184.0984px) rotate(-1.248433rad);
}

.warp__254 {
    transform-origin: 9px 49px;
    transform: translate(212.0305px,164.2877px) rotate(-1.093051rad);
}

.warp__255 {
    transform-origin: 13px 49px;
    transform: translate(220.6862px,144.4741px) rotate(-0.910895rad);
}

.warp__256 {
    transform-origin: 8px 49px;
    transform: translate(240.5861px,128.2927px) rotate(-0.744214rad);
}

.warp__257 {
    transform-origin: 11px 49px;
    transform: translate(253.7751px,115.76249999999999px) rotate(-0.606541rad);
}

.warp__258 {
    transform-origin: 13px 49px;
    transform: translate(273.0069px,103.2493px) rotate(-0.463546rad);
}

.warp__259 {
    transform-origin: 22px 49px;
    transform: translate(296.8817px,90.08519999999999px) rotate(-0.307064rad);
}

.warp__260 {
    transform-origin: 13px 49px;
    transform: translate(340.5602px,81.2107px) rotate(-0.193758rad);
}

.warp__261 {
    transform-origin: 8px 49px;
    transform: translate(367.6461px,77.4996px) rotate(-0.141032rad);
}

.warp__262 {
    transform-origin: 11px 49px;
    transform: translate(385.491px,75.0332px) rotate(-0.101491rad);
}

.warp__263 {
    transform-origin: 8px 49px;
    transform: translate(408.0285px,73.3629px) rotate(-0.07002rad);
}

.warp__264 {
    transform-origin: 11px 49px;
    transform: translate(424.8392px,72.2455px) rotate(-0.043488rad);
}

.warp__265 {
    transform-origin: 15px 49px;
    transform: translate(447.084px,71.4894px) rotate(-0.015351rad);
}

.warp__266 {
    transform-origin: 14px 49px;
    transform: translate(477.6419px,71.4067px) rotate(0.008442rad);
}

.warp__267 {
    transform-origin: 9px 49px;
    transform: translate(507.50419999999997px,71.7958px) rotate(0.02195rad);
}

.warp__268 {
    transform-origin: 6px 49px;
    transform: translate(527.6923px,72.2297px) rotate(0.028084rad);
}

.pos18{
    position: absolute;
    top: 12px;
    left: -8%;
} 

/* Proudly created with www.csswarp.com */

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp10 {
    display: block;
    position: relative;
    width: 868px;
    height: 713px;
    font: normal 60px/1 'Cormorant Upright';
    transform-box:fill-box;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__269 {
    transform-origin: 14px 49px;
    transform: translate(189.8496px,384.0117px) rotate(-1.576963rad);
}

.warp__270 {
    transform-origin: 11px 49px;
    transform: translate(193.2068px,358.2842px) rotate(-1.575576rad);
}

.warp__271 {
    transform-origin: 11px 49px;
    transform: translate(193.1249px,335.9216px) rotate(-1.572971rad);
}

.warp__272 {
    transform-origin: 7px 49px;
    transform: translate(196.6264px,317.4013px) rotate(-1.567653rad);
}

.warp__273 {
    transform-origin: 6px 49px;
    transform: translate(197.7211px,303.2637px) rotate(-1.560637rad);
}

.warp__274 {
    transform-origin: 13px 49px;
    transform: translate(190.9143px,283.0241px) rotate(-1.564306rad);
}

.warp__275 {
    transform-origin: 9px 49px;
    transform: translate(194.9916px,259.8747px) rotate(-1.569806rad);
}

.warp__276 {
    transform-origin: 13px 49px;
    transform: translate(191.5929px,235.5512px) rotate(-1.540961rad);
}

.warp__277 {
    transform-origin: 11px 49px;
    transform: translate(195.7325px,211.2622px) rotate(-1.420513rad);
}

.warp__278 {
    transform-origin: 6px 49px;
    transform: translate(203.7942px,193.8391px) rotate(-1.315264rad);
}

.warp__279 {
    transform-origin: 13px 49px;
    transform: translate(203.1206px,174.8759px) rotate(-1.179428rad);
}

.warp__280 {
    transform-origin: 14px 49px;
    transform: translate(215.5048px,150.1808px) rotate(-0.966018rad);
}

.warp__281 {
    transform-origin: 11px 49px;
    transform: translate(235.9033px,130.3472px) rotate(-0.766143rad);
}

.warp__282 {
    transform-origin: 11px 49px;
    transform: translate(252.9454px,116.34209999999999px) rotate(-0.613042rad);
}

.warp__283 {
    transform-origin: 7px 49px;
    transform: translate(272.9701px,106.13229999999999px) rotate(-0.496925rad);
}

.warp__284 {
    transform-origin: 6px 49px;
    transform: translate(287.1118px,99.6482px) rotate(-0.421475rad);
}

.warp__285 {
    transform-origin: 13px 49px;
    transform: translate(299.1218px,92.15639999999999px) rotate(-0.332272rad);
}

.warp__286 {
    transform-origin: 9px 49px;
    transform: translate(325.518px,85.4865px) rotate(-0.249748rad);
}

.warp__287 {
    transform-origin: 13px 49px;
    transform: translate(344.4951px,80.55279999999999px) rotate(-0.184778rad);
}

.warp__288 {
    transform-origin: 11px 49px;
    transform: translate(371.0786px,76.6949px) rotate(-0.128701rad);
}

.warp__289 {
    transform-origin: 6px 49px;
    transform: translate(393.6287px,74.6744px) rotate(-0.095188rad);
}

.warp__290 {
    transform-origin: 13px 49px;
    transform: translate(407.4595px,73.0347px) rotate(-0.062946rad);
}

.warp__291 {
    transform-origin: 14px 49px;
    transform: translate(435.0644px,71.7582px) rotate(-0.027852rad);
}

.warp__292 {
    transform-origin: 11px 49px;
    transform: translate(464.8711px,71.3623px) rotate(-0.003388rad);
}

.warp__293 {
    transform-origin: 14px 49px;
    transform: translate(486.8747px,71.5043px) rotate(0.013808rad);
}

.warp__294 {
    transform-origin: 7px 49px;
    transform: translate(515.6679px,71.9391px) rotate(0.024455rad);
}

.warp__295 {
    transform-origin: 6px 49px;
    transform: translate(531.3445px,72.3341px) rotate(0.029041rad);
}

.warp__296 {
    transform-origin: 13px 49px;
    transform: translate(544.786px,72.9655px) rotate(0.032031rad);
}

.warp__297 {
    transform-origin: 9px 49px;
    transform: translate(572.158px,73.7028px) rotate(0.029973rad);
}

.warp__298 {
    transform-origin: 13px 49px;
    transform: translate(592.2031px,74.3143px) rotate(0.020541rad);
}

.warp__299 {
    transform-origin: 11px 49px;
    transform: translate(618.5512px,74.5905px) rotate(-0.000096rad);
}

.warp__300 {
    transform-origin: 6px 49px;
    transform: translate(640.8659px,74.3767px) rotate(-0.025791rad);
}

.pos19{
    position: absolute;
    top: 75px;
    left: -4%;
} 

/* Proudly created with www.csswarp.com */

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp11 {
    display: block;
    position: relative;
    width: 1100px;
    height: 713px;
    font: normal 60px/1 'Cormorant Upright';
    transform-box:fill-box;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__301 {
    transform-origin: 13px 49px;
    transform: translate(34.1975px,226.92880000000002px) rotate(-1.589863rad);
}

.warp__302 {
    transform-origin: 15px 49px;
    transform: translate(31.9429px,198.6225px) rotate(-1.572553rad);
}

.warp__303 {
    transform-origin: 9px 49px;
    transform: translate(41.5023px,173.0384px) rotate(-1.222774rad);
}

.warp__304 {
    transform-origin: 9px 49px;
    transform: translate(50.7893px,155.5736px) rotate(-0.94967rad);
}

.warp__305 {
    transform-origin: 8px 49px;
    transform: translate(64.3921px,141.8975px) rotate(-0.752545rad);
}

.warp__306 {
    transform-origin: 15px 49px;
    transform: translate(75.726px,127.7218px) rotate(-0.57554rad);
}

.warp__307 {
    transform-origin: 13px 49px;
    transform: translate(103.7454px,113.6257px) rotate(-0.428652rad);
}

.warp__308 {
    transform-origin: 13px 49px;
    transform: translate(128.5135px,103.4999px) rotate(-0.338946rad);
}

.warp__309 {
    transform-origin: 10px 49px;
    transform: translate(155.7034px,95.827px) rotate(-0.278225rad);
}

.warp__310 {
    transform-origin: 13px 49px;
    transform: translate(177.2705px,89.56819999999999px) rotate(-0.23246rad);
}

.warp__311 {
    transform-origin: 15px 49px;
    transform: translate(203.4256px,83.5426px) rotate(-0.190904rad);
}

.warp__312 {
    transform-origin: 9px 49px;
    transform: translate(233.7788px,79.1284px) rotate(-0.161578rad);
}

.warp__313 {
    transform-origin: 11px 49px;
    transform: translate(252.99779999999998px,75.9753px) rotate(-0.140964rad);
}

.warp__314 {
    transform-origin: 13px 49px;
    transform: translate(275.1248px,72.8117px) rotate(-0.120324rad);
}

.warp__315 {
    transform-origin: 7px 49px;
    transform: translate(302.7401px,70.3254px) rotate(-0.103932rad);
}

.warp__316 {
    transform-origin: 13px 49px;
    transform: translate(319.4306px,68.1317px) rotate(-0.089134rad);
}

.warp__317 {
    transform-origin: 14px 49px;
    transform: translate(348.0226px,65.7802px) rotate(-0.072585rad);
}

.warp__318 {
    transform-origin: 14px 49px;
    transform: translate(377.8288px,63.8378px) rotate(-0.05791rad);
}

.warp__319 {
    transform-origin: 10px 49px;
    transform: translate(408.6803px,62.4174px) rotate(-0.046094rad);
}

.warp__320 {
    transform-origin: 13px 49px;
    transform: translate(430.3483px,61.3993px) rotate(-0.036569rad);
}

.warp__321 {
    transform-origin: 13px 49px;
    transform: translate(458.4319px,60.511300000000006px) rotate(-0.026836rad);
}

.warp__322 {
    transform-origin: 8px 49px;
    transform: translate(485.9719px,59.997px) rotate(-0.019919rad);
}

.warp__323 {
    transform-origin: 15px 49px;
    transform: translate(504.32259999999997px,59.5856px) rotate(-0.012654rad);
}

.warp__324 {
    transform-origin: 9px 49px;
    transform: translate(535.2958px,59.34910000000001px) rotate(-0.006017rad);
}

.warp__325 {
    transform-origin: 13px 49px;
    transform: translate(557.3392px,59.274px) rotate(0.000039rad);
}

.warp__326 {
    transform-origin: 13px 49px;
    transform: translate(585.594px,59.365399999999994px) rotate(0.006206rad);
}

.warp__327 {
    transform-origin: 22px 49px;
    transform: translate(615.3395px,59.7445px) rotate(0.013442rad);
}

.warp__328 {
    transform-origin: 14px 49px;
    transform: translate(661.3148px,60.3755px) rotate(0.019625rad);
}

.warp__329 {
    transform-origin: 13px 49px;
    transform: translate(690.0124px,60.9863px) rotate(0.023608rad);
}

.warp__330 {
    transform-origin: 13px 49px;
    transform: translate(718.3838px,61.6936px) rotate(0.027048rad);
}

.warp__331 {
    transform-origin: 20px 49px;
    transform: translate(744.8968px,62.6606px) rotate(0.030523rad);
}

.warp__332 {
    transform-origin: 15px 49px;
    transform: translate(785.613px,63.805099999999996px) rotate(0.033391rad);
}

.warp__333 {
    transform-origin: 13px 49px;
    transform: translate(816.0803px,64.7979px) rotate(0.035022rad);
}

.warp__334 {
    transform-origin: 14px 49px;
    transform: translate(843.2143px,65.798px) rotate(0.03592rad);
}

.warp__335 {
    transform-origin: 14px 49px;
    transform: translate(873.5771px,66.8747px) rotate(0.035986rad);
}

.warp__336 {
    transform-origin: 15px 49px;
    transform: translate(903.7032px,67.9808px) rotate(0.034814rad);
}

.warp__337 {
    transform-origin: 14px 49px;
    transform: translate(936.014px,69.0467px) rotate(0.031805rad);
}

.warp__338 {
    transform-origin: 9px 49px;
    transform: translate(966.2179px,69.7988px) rotate(0.02751rad);
}

.warp__339 {
    transform-origin: 6px 49px;
    transform: translate(986.9786px,70.238px) rotate(0.023128rad);
}

.pos20{
    position: absolute;
    top: 150px;
    left: 9%;
} 

.pos21{
    position: absolute;
    top: 480px;
    left: 6%;
} 

.pos22{
    position: absolute;
    top: 25px;
    left: 23%;
} 

.pos23{
    position: absolute;
    top: 35px;
    left: 52%;
} 

.pos24{
    position: absolute;
    top: 95px;
    left: 34.5%;
} 