* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: blanchedalmond;
}

.dog{
    display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}